body{
	background-image: url("res/back.png");
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	margin: 0px;
	padding: 0px;
}
.racheta{
	padding: 0px;
	margin:0px;
}
.racheta img{
	position: absolute;left: 60%; top: 40%;
	height:  25.625em;
	width: auto;  transform: rotate(20deg);

}
p{
	padding: 0px;
	margin: 0px;
	font-family: "Arial Rounded MT";
	color: white;
	font-size:  8.0625em;

}
.scris{
	position: absolute; left: 10%; bottom:40%;
	padding: 0px;
	margin: 0px;
	height: 18.625em;
	width: 54.75em;
	text-align: center;
}
.newsletter {
	margin: 0px;
	padding: 0px;
	width: 16.438em;
	height: 4.000em;
	background-color: #F5843D;
	font-family: "Roboto";
	font-size: 1.125em;
	text-align: center;
	padding-top: 2.5%;
	border-radius:50px;
	margin-left: 35%;
	margin-top: 2%;
}
.inscriere{
	   width:30em;
      height:35.375em;
      background-color: white;
      margin: 0 auto;
      margin-top: 10%;
      border-radius: 50px;
    }
.inscriere {
	text-align: center;
	border-radius: 30px: 
}
.inscriere p{
	padding: 0px;
	margin: 0px;
	font-family: "Arial Rounded MT";
		color: #01244E;

}
.inscriere .titlu{
		font-size:3.5625em;
}
.inscriere .content{
	font-size: 1.4375em;

}
.inscriere form{
	border-color: #707070;
	text-align: center;
	padding-top: 20%;
	font-family: "Roboto";
	font-size:1.5625em;
}
.inscriere label{
	text-align: left;
	padding-right: 50%;
}
.inscriere input{
	border-radius: 50px;
	border-color: #707070;

}
.inscriere .buton{
padding-left: 27%;
padding-right: 24%;
margin-top: 5%;
background-color: #F5853F;
color: white;
	}